<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo</title>
</head>
<body>
    <h1><%=@dojo.branch%></h1>
    <br>
    <h2>Address: <%=@dojo.street%></h2>
    <br>
    <h2>City: <%=@dojo.city%></h2>
    <br>
    <h3><a href="/dojos">Home</a></h3> 
    <h3><a href="/dojos/<%=@dojo.id%>/edit">Edit</a></h3>
</body>
</html>